
div#loading {
    top: 200 px;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 160px;
    height: 24px;
    display: none;
    background: url(/static/ajax-loader.gif) no-repeat;
    cursor: wait;
    }
