
div#loading {
    top: 170px;
    position: absolute;
    width: 100%;
    height: 40px;
    display: none;
    background: url(/static/ajax-loader.gif) no-repeat;
    cursor: wait;
    }


div#object {
object-fit: fill
}